[Unit]
Description=Sample App
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/flask-app/app
ExecStart=/flask-app/venv/bin/gunicorn -b localhost:5000 app:app
Restart=always
[Install]
WantedBy=multi-user.target
